@font-face {
    font-family: 'CenturyGothic';
    src: url('./century_gothic_regular.TTF') format('truetype');
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('./century_gothic_bold.TTF') format('truetype');
    font-weight: bold;
}
