@import 'fonts.css';

.navbar-mobile {
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'CenturyGothic', serif;
    font-size: 20px;
}

.nav-logo-mobile {
    position: absolute;
    top: 0;
    left: 25px;
    height: 100%;
}

.logo-mobile {
    height: 60px;
}

.nav-toggle {
    position: absolute;
    top: 50%;
    right: 25px;
    width: 25px;
    height: 25px;
    transform: translate(0, -50%);
    cursor: pointer;
}

.nav-toggle-line {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #ffffff;
    height: 2px;
    width: 100%;
    transition: all 0.3s;
}

#nav-toggle-1 {
    top: 3px;
}

#nav-toggle-2 {
    top: 50%;
    transform: translate(0, -50%);
    opacity: 1;
}

#nav-toggle-3 {
    bottom: 3px;
}

.nav-toggle-cancel #nav-toggle-1 {
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
}

.nav-toggle-cancel #nav-toggle-2 {
    opacity: 0;
}

.nav-toggle-cancel #nav-toggle-3 {
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
}

.nav-items-mobile {
    position: fixed;
    background-color: #000000;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
}

.nav-items-mobile-collapse {
    opacity: 0;
    visibility: hidden;
}

.nav-items-wrapper-mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-item-mobile {
    display: block;
    line-height: 56px;
    vertical-align: center;
    width: 150px;
}

.nav-item-mobile a {
    position: relative;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.nav-item-mobile a:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    bottom: 2px;
    left: 25px;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s;
}

.nav-item-mobile a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}
