@import 'fonts.css';

.navbar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'CenturyGothic', serif;
    font-size: 20px;
    background-color: rgba(102, 102, 102, 0);
    transition: background-color 0.8s;
    align-items: center;
}

.navbar:hover {
    background-color: #000000;
}

.nav-logo {
    float: left;
    margin-left: 35px;
}

.logo-header {
    height: 70px;
}

.nav-items {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

.nav-item {
    float: right;
    display: inline;
    line-height: 56px;
    vertical-align: center;
    width: 150px;
}

.nav-item a {
    position: relative;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.nav-item a:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    bottom: 2px;
    left: 25px;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s;
}

.nav-item a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}