@import 'fonts.css';

.Navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'CenturyGothic', serif;
    font-size: 20px;
    background-color: rgba(102, 102, 102, 0);
    transition: background-color 0.8s;
    transition-timing-function: ease;
    align-items: center;
}

.Navbar:hover {
    background-color: rgba(0, 0, 0, 1);
}

.Nav-logo {
    float: left;
    margin-left: 35px;
}

.Logo {
    height: 70px;
}

.Nav-items {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

.Nav-item {
    float: right;
    display: inline;
    line-height: 56px;
    vertical-align: center;
    width: 150px;
    transition: background-color 0.25s;
    transition-timing-function: ease;
}

.Nav-item a {
    position: relative;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.Nav-item a:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    bottom: 2px;
    left: 25px;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.Nav-item a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}