.pitch {
    background-color: #fafafa;
    height: 700px;
}

.pitch > div {
    display: inline-block;
}

.pitch .demo {
    position: relative;
    width: 40%;
    height: 100%;
}

.pitch .demo > img {
    position: absolute;
    max-width: 80%;
    max-height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pitch .topics {
    position: relative;
    width: 60%;
    height: 100%;
}

.pitch .pitch-cards {
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translate(0, -50%);
}

.pitch-mobile {
    background-color: #fafafa;
}

.pitch-mobile > div {
    display: block;
    width: 100%;
}

.pitch-mobile .demo {
    padding: 50px 0 0 0;
}

.pitch-mobile .demo > img {
    width: 50%;
    display: block;
    margin: auto;
}
