.privacy {
    width: 100%;
    height: 100%;
    background-color: #cdcdcd;
}

.privacy-policy {
    background-color: #ffffff;
    width: 100%;
    max-width: 1000px;
    padding: 80px 20px;
    margin: auto;
    box-sizing: border-box;
}

.privacy-policy h1 {
    text-align: center;
}