@import 'fonts.css';

.searchbox {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: rgba(200, 200, 200, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.slogan {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-family: 'CenturyGothic', serif;
    font-size: 30px;
    line-height: 60px;
}

.searchbox .icon {
    position: absolute;
    top: 25px;
    left: 25px;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.searchbox input {
    width: calc(100% - 50px);
    height: 100%;
    margin-left: 50px;
    box-sizing: border-box;
    border-style: none;
    outline: none;
    background-color: rgba(200, 200, 200, 0);
    color: #ffffff;
    font-size: 20px;
}