@import '../fonts/fonts.css';

.library-card {
    background-color: #ffffff;
}

.library-card-title {
    height: 70px;
    margin: 0 10px;
    overflow: hidden;
    white-space: nowrap;
}

.library-card-avatar {
    display: inline-block;
    vertical-align: top;
    margin: 8px;
    width: 50px;
    height: 50px;
    border: #cdcdcd 2px solid;
    border-radius: 50%;
}

.library-card-name {
    display: inline-block;
    vertical-align: top;
    margin: 10px 0;
    line-height: 50px;
    font-size: 20px;
    font-family: 'CenturyGothic', serif;
}

.library-card-content {
    position: relative;
    margin: 0 10px;
    padding: 10px;
    border-top: 1px solid #666666;
    overflow: hidden;
    white-space: normal;
    font-size: 18px;
    font-family: 'SegoeUI', serif;
}
