.result-list {
    background-color: #ffffff;
    width: 90%;
    margin: 70px auto;
}

@media screen and (max-width: 768px) {
    .result-list {
        width: 100%;
        margin: 60px auto;
    }
}

.result-list-container {
    width: 100%;
    display: inline-block;
}

.result-artizen-container {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}